Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 3

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`) using a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


- [ ] Do train/test split. Use data from January — March 2019 to train. Use data from April 2019 to test.
- [ ] Do exploratory visualizations with Seaborn.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a linear regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if you’re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way (without an excessive amount of formulas or academic pre-requisites).
(That book is good regardless of whether your cultural worldview is inferential statistics or predictive machine learning)
- [ ] Read Leo Breiman's paper, ["Statistical Modeling: The Two Cultures"](https://projecteuclid.org/download/pdf_1/euclid.ss/1009213726)
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html):

> Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:

> - **Convenience and encapsulation.** You only have to call fit and predict once on your data to fit a whole sequence of estimators.
> - **Joint parameter selection.** You can grid search over parameters of all estimators in the pipeline at once.
> - **Safety.** Pipelines help avoid leaking statistics from your test data into the trained model in cross-validation, by ensuring that the same samples are used to train the transformers and predictors.

In [0]:
%%capture
!pip install --upgrade pandas-profiling plotly
!pip install fiona
!pip install geopy

In [0]:
# Disable warning
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [101]:
import os, sys

# Pull files from Github repo
os.chdir('/content')
!git init .
!git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
!git pull origin master
    
# Change into directory for module
os.chdir('module3')

Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
Already up to date.

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [103]:
import pandas as pd
import pandas_profiling
from geopy.geocoders import Nominatim

# Read New York City property sales data
df = pd.read_csv('../data/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)
# Create a FULL_ADDRESS field
df['FULL_ADDRESS'] = df['ADDRESS'] + ' NEW YORK, NY'

df.head()

   BOROUGH  ...                              FULL_ADDRESS
0        1  ...  447 WEST 18TH STREET, PH12A NEW YORK, NY
1        1  ...         144 WEST 37TH STREET NEW YORK, NY
2        1  ...          40 WEST 38TH STREET NEW YORK, NY
3        1  ...        1 SHERIDAN SQUARE, 8C NEW YORK, NY
4        1  ...       20 EAST 65TH STREET, B NEW YORK, NY

[5 rows x 22 columns]

In [104]:
# Select the subset of data
df = df[(df['SALE_PRICE'] > 100000) & 
        (df['SALE_PRICE'] < 2000000) & 
        (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS')]

print(df.shape)
df.head()

(3151, 22)

     BOROUGH  ...                       FULL_ADDRESS
44         3  ...      4832 BAY PARKWAY NEW YORK, NY
61         4  ...    80-23 232ND STREET NEW YORK, NY
78         2  ...  1260 RHINELANDER AVE NEW YORK, NY
108        3  ...         469 E 25TH ST NEW YORK, NY
111        3  ...      5521 WHITTY LANE NEW YORK, NY

[5 rows x 22 columns]

In [105]:
# Convert created feature to datetime
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

# Split off the train data by January through March 2019
mask = (df['SALE_DATE'] > '2018-12-31') & (df['SALE_DATE'] < '2019-04-01')
train = df.loc[mask]

# Split of the test data by April 2019
mask = (df['SALE_DATE'] >= '2019-04-01')
test = df.loc[mask]

print(train.shape)
print(test.shape)

(2507, 22)
(644, 22)

In [106]:
print(df.loc[137, 'ADDRESS'])

85-11 57 ROAD

In [0]:
def lat_long(address):
  geolocator = Nominatim(user_agent='Test')
  location = geolocator.geocode(address, timeout=None)
  if location:
    return location.longitude, location.latitude
  else:
    return 0.0, 0.0

#full_address = df.loc[137, 'ADDRESS'] + ' NEW YORK, NY'
#lat, long = lat_long(full_address)
#print(lat)
#print(long)

#df['LONGITUDE', 'LATITUDE'] = df.apply(lambda x: lat_long(x['FULL_ADDRESS']), axis=1)